@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
  }
:root{
    --main-bg-color: #047857;
    --main-font: 'Lato', sans-serif;
    --main-font-color: #f8fafc;
}

body{
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-template-columns: minmax(200px,1fr) 5fr;
    height: 100vh;
}

header{
    background-color: var(--main-bg-color);
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px black;
    z-index: 2;
    font-family: var(--main-font);
    color: var(--main-font-color)
}

nav{
    background-color: var(--main-bg-color);
    box-shadow: 1px 0px 5px black;
    z-index: 1;
    padding: 30px;
    font-family: var(--main-font);
    color: var(--main-font-color);

    display: grid;
    grid-template-rows: 1fr 4fr auto 1fr;
    justify-items: center;
    align-items: center;
}

nav .projects{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.1rem;
}

nav div.title{
    display: flex;
    gap: 20px;
}

nav .wrapper{
    align-self: start;
    display: none;
}

nav .wrapper.open{
    display: block;
}

nav .wrapper .add{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

nav .add input[type=text]{
    width: 100%;
    border-radius: 5px;
}

nav .add input[type=text]:focus{
    outline: none;
    border: solid 2px #ebebeb;
}

nav .add svg:hover{
    color: #4554f4;
}

main{
    background-color: #f8fafc;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .card{
    background-color: #f1f5f9;
    width: 70%;
    height: 70%;
    border: solid 3px black;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
}

main .card .card-head{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
}

main .card .card-head .options{
    align-self: flex-end;
}

main .card .card-body .card-add{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    /* border-bottom: 1px solid black; */
}

main .card .card-body .card-add input[type=text]{
    border-radius: 5px;
    outline: none;
    padding: 2px;
}

main .card .card-body .card-add input[type=text]:focus{
    border: solid 2px #16a34a;
}
main .card .card-body .card-add>svg:hover{
    color: #16a34a;   
}

main .card .card-body .tasks{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-top: 2px;
}

main .card .card-body .tasks .task{
    display: flex;
    justify-content: center;
    background-color: #e2e8f0;;
    padding: 5px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    box-shadow: 0px 0px 1px black; 
}